body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
/* 🔹 Container principal */
.resultado-container{
    display: flex;
    flex-direction: column; /* 🔥 força ordem vertical */
    align-items: center;
}
 
/* 🔹 Título */
.resultado-container h1{
    color: #0b1fa6;
    font-size: 40px;
    margin-bottom: 20px;
}
 
/* 🔹 Tabela */
table{
    width: 520px;
    border-collapse: collapse;
    margin-bottom: 25px; /* espaço antes do botão */
}
 
th, td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
 
th{
    background-color: #f2f2f2;
    font-size: 18px;
}
 
 
 
form{
            background: white;
            padding: 30px;
            border-radius: 10px;
            width: 380px;
        }
input, button, select{
            width: 97%;
            padding: 9px;
            margin-top: 10px;
            color: #00008B;
            font-size: 16px;
        }
button{
            background:  #4169E1;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 6px;
 
        }
p{
            margin-top: 15px;
            color: green;
            text-align: center;
        }
h2{
            text-align: center;
            color: #00008B;
        }
.inicio{
            background: orange;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 6px;
        }
 
.inicio-resultado{
            background: orange;
            color: white;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 6px;
 
}